.reset-btn {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.btn {
  @extend .reset-btn;
  font-size: 1.6rem;
  padding: 1.9rem;
  background-color: var(--button-background-color);
  color: var(--button-color);
  line-height: 1.6rem;
  font-weight: 500;
  border-radius: 1.2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btn-large {
  @extend .btn;
  min-width: 24.7rem;
}