// Responsiveness
@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 600px) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (max-width: 1024px) { @content; }
  }
}

// Styled buttons
@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: $spacing-md;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
