.theme-dark {
  --primary-color: #1E1E1E;
  --secondary-color: #FF5722;
  --background-color: #121212;
  --text-color: #E0E0E0;
  --border-color: #444;

  --button-background-color: #FF9F24;
  --button-color: black;
}
