.theme-light {
  --primary-color: #FF9F24;
  --secondary-color: #4CAF50;
  --background-color: #FAFAFA;
  --text-color: #333;
  --border-color: #ddd;
  --contrast-background-color: #fff;

  --button-background-color: #FF9F24;
  --button-color: #fff;
}
